aus="mozilla-enterprise"
dist_id="mozilla-enterprise"
dist_version="1.0"
linux-i686=false
linux-x86_64=false
locales="ach af an ar"  # truncated for display here
mac=true
win32=false
win64=false
# output_dir="%(platform)s-EME-free/%(locale)s"